<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{{ url_for('static', filename='img/logo.jpg') }}" type="image/jpg" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dark-mode.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>

    <script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>

    <title>
        {% if title %}
        {{ title }}
        {% else %}
        FilmHub
        {% endif %}
    </title>
</head>

<body class="dark-mode d-flex flex-column">
    <div class="d-flex flex-column">
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="{{ url_for('index') }}"><img class="rounded" width="64"
                        src="{{ url_for('static', filename='img/logo.jpg') }}" alt="logo"></a>
                <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse"
                    data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
                    aria-label="Toggle navigation"></button>
                <div class="collapse navbar-collapse" id="collapsibleNavId">
                    <ul class="navbar-nav d-flex w-100">
                        <li class="nav-item">
                            <a class="nav-link {% if request.endpoint == 'index' %}active" aria-current="page"
                                {% endif %}" href="{{ url_for('index') }}">Главная</a>
                        </li>
                        {% if current_user.is_authenticated and  current_user.can('collections', record=current_user) %}
                        <li class="nav-item">
                            <a class="nav-link {% if request.endpoint == 'show_collections' %}active"
                                aria-current="page" {% endif %}"
                                href="{{ url_for('show_collections', user_id = current_user.id) }}">Мои подборки</a>
                        </li>
                        {% endif %}
                        <li class="nav-item ms-auto">
                            {% if current_user.is_authenticated %}
                            <div class="dropdown ">
                                <a class="nav-link dropdown-toggle btn-sm btn-outline-secondary" href="#" role="button"
                                    id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                    {{ current_user.login }}
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item"
                                        href="{{ url_for('show_user', user_id=current_user.id) }}">Профиль</a>
                                    <a class="dropdown-item" href="{{ url_for('auth.logout') }}">Выйти</a>
                                </div>
                            </div>
                            {% else %}
                            <a class="nav-link" href="{{ url_for('auth.login') }}">Войти</a>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container my-5">
            <div id="messeges">
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% for cat, msg in messages %}
                <div class="alert alert-{{ cat }} alert-dismissible fade show" role="alert">
                    {{ msg }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
                {% endwith %}
            </div>
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <footer class="mt-auto p-1 ps-5">Лагутов Александр</footer>
    <script defer src="{{ url_for('static', filename='js/bootstrap.min.js') }}">
    </script>
    <script defer src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>